.container{
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}
.navbar{
    list-style: none;
    padding: 0;
    background-color: #35444f;/*#ccc;*/
    text-align: center;
}
.clearfix:after{
    clear:both;
    content:'';
    display: table;
}
.nav-item{
    float: left;
    padding: 15px 10px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.nav-item a{
  text-decoration: none;
  color: white;
}
.nav-item:first-child{
    margin-left: 33%;
}
.nav-item:hover{
    background-color: #777;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.img-placeholder{
    width: 320px;
    height: 381px;
    background-color: white;
    background-position: right top;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding-left: 220px;
    padding-right: 220px;
}
.img-placeholder img{
    width: 200px;
    height: 250px;
    transition: transform 0.4s linear;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 65px;
}
.img-placeholder img:hover{
    transform: scale(1.5);
}
.logo{
    font-size: 40px;
    padding-bottom: 0;
}
.logo h1:first-letter{
    text-transform: uppercase;
    color: #000000;
}
.logo h1{
    color: #000000;
    margin: 0 auto;
}
.logo span{
  color: #00BFFF;
}
.logo a{
  text-decoration: none;
}
.navbarleft{
  width: 200px;
  height: 250px;
  border: 1px solid black;
  float: left;
  line-height: 50px;
  background-color: white;
  border-left: 1px solid;
  border-right: 1px solid;
  list-style: none;
  margin: 0 auto;
  padding-left: 0px;
  text-align: left;
}
.navbarleft li:hover{
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background: #C0C0C0;
}
.nav-item-left a{
  text-decoration: none;
  color: #808080;
  margin-left: 20px
}
.text{
  padding: 10px 270px;
  font-family: sans-serif;
  color:  #2c2b2b;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: justify;
}
.navbardown{
    list-style: none;
    padding: 0;
    background-color: #ccc;
    text-align: right;
}
.nav-item-down{
    float: left;
    padding: 15px 10px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.nav-item-down a{
  text-decoration: none;
  color: #000000;
  padding-bottom: 0;
  margin: 0 auto;
}
.nav-item-down:first-child{
    margin-left: 33%;
}
.nav-item-down:hover{
    background-color: #777;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.nav-item-down a:hover{
  color: #00Bfff;
}
.navbardown li a:hover{
  border-bottom: 1px solid #00Bfff;
  padding-left: 0;
  padding-right: 0;
}
.copyright{
  float: right;
  text-align: right;
  margin: 0 auto;
  margin-top: -67px;
  padding-right: 10px;
}
